section {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/restaurantImage.jpg) center;
    background-size: cover;
    height: 25vh;
}

h1{
    color: white;
}
