ion-card{
    margin: 0;
    box-shadow: none;
}

.category{
    padding-left: 16px;
    font-weight: bold;
}

ion-card-title{
    font-size: 13px;
    font-weight: bold;
}

.small-text{
    font-size: 12px;
}

.unavailable{
    opacity: 0.5;
}
