ion-content {
  padding-left: 16px;
}

.content {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}

.title {
  font-size: 13px;
  font-weight: bold;
}

.small-text {
  font-size: 12px;
}

.menu-item-image-container {
  height: 200px;
  margin: 0 auto;
}

.centered-image {
  height: 200px;
  margin: 0 auto;
  display: block;
}
