
<section class="d-flex justify-content-center align-items-center w-100 h-100">
  <div class="wrapper d-flex justify-content-center align-items-center">
    <form class="form-group" style="width: 100%;">
        <h1>EasyOrder</h1>
        <label for="nickname">Nickname</label>
        <input [(ngModel)]="nickname" name="nickname" type="text" class="form-control" id="nickname" placeholder="Enter nickname">
        <br>
      <ion-button expand="full" (click)="save()" color="primary">Choose</ion-button>
      <br>  
    </form>
  </div>
</section>  
