<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Checkout</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="menu-items-list">
        <div class="menu-items-container">
            <ng-template [ngIf]="isEmpty()">
                <h1 class="text-center">You have 0 items in your cart</h1>
            </ng-template>

            <div *ngFor="let item of menuItems">
                <h1 class="name-tag">My Order:</h1>
                <ion-card>
                    <ion-card-header (click)="showItem(item.menuItem)">
                        <ion-card-title>{{item.menuItem.name}}</ion-card-title>
                        <ion-card-subtitle class="small-text">{{item.menuItem.description}}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content class="card-content">
                        <p class="small-text price-frequency">{{item.menuItem.price}} RON x {{item.frequency}}</p>
                        <ion-buttons slot="end">
                            <ion-button color="primary" [disabled]="item.frequency <= 0"
                                        (click)="decreaseOrderNumber(item)">
                                <ion-icon slot="icon-only" ios="remove-outline" md="remove-outline"></ion-icon>
                            </ion-button>
                            <h3>{{item.frequency}}</h3>
                            <ion-button (click)="increaseOrderNumber(item)" color="primary">
                                <ion-icon slot="icon-only" ios="add-outline" md="add-outline"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                    </ion-card-content>
                </ion-card>
            </div>

            <div *ngFor="let item of clientOrder">
                <h1 class="name-tag">{{item.nickname}}'s Order:</h1>
                <div *ngFor="let menu of item.orders">
                    <div class="menu-items-container">
                        <ion-card>
                            <ion-card-header (click)="showItem(menu.menuItem)">
                                <ion-card-title>{{menu.menuItem.name}}</ion-card-title>
                                <ion-card-subtitle class="small-text">{{menu.menuItem.description}}</ion-card-subtitle>
                            </ion-card-header>
                            <ion-card-content class="card-content">
                                <p class="small-text price-frequency">{{menu.menuItem.price}} RON x {{menu.frequency}}
                                </p>
                                <ion-buttons slot="end">
                                    <ion-button color="primary" disabled (click)="decreaseOrderNumber(menu)">
                                        <ion-icon slot="icon-only" ios="remove-outline" md="remove-outline"></ion-icon>
                                    </ion-button>
                                    <h3>{{menu.frequency}}</h3>
                                    <ion-button disabled (click)="increaseOrderNumber(menu)" color="primary">
                                        <ion-icon slot="icon-only" ios="add-outline" md="add-outline"></ion-icon>
                                    </ion-button>
                                </ion-buttons>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </div>
            </div>
        </div>
    </ion-list>

    <ion-card class="card-content">
        <ion-card-content>Total price: {{totalPrice}}</ion-card-content>
        <ion-button class="ion-padding-end" (click)="handlePay()">Pay</ion-button>
    </ion-card>
</ion-content>
